@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-light">
    <h1 class="display-10">Welcome To <span class="text-reset">Muslim Faithful Acdemy</span> School Application</h1>
    <p>My name is Adebayo Awwal Bamidele.I am a student of Muslim Faithful Acdemy.<br />
    I have create this Application for Student to have access to School online to make it easy for Teacher to communicate.
    <ul>
        <li class="nav-link">
                <button asp-controller="Student" asp-action="StudentView">Register</button>
        </li>
    </ul>
</div>
